<style>
	.body {
		background-color: ghostwhite !important;
	}
</style>

<div class="container p-3" style="background-color: ghostwhite; padding-bottom: 250px;">
	<div class="row pt-4 mb-3">
		<div class="col-md-6">
			<h2 class="text-primary">List of Products</h2>
		</div>
		<div class="col-md-6 text-right" style="margin-top: 15px;">
			<a class="btn btn-primary" asp-controller="Product" asp-action="Upsert">
				<i class="glyphicon-bishop bi-plus-circle"></i>&nbsp; New
			</a>
		</div>

	</div>


	<table id="tblData" class="table table-bordered table-striped" style="width: 100%">
		<thead>
			<tr style="color: black">
				<th>Title</th>
				<th>ISBN</th>
				<th>Price</th>
				<th>Author</th>
				<th>Category</th>
				<th></th>
			</tr>
		</thead>
		<tbody>			
		</tbody>
	</table>
</div>

@section Scripts {
	<script src="~/js/product.js"></script>
	@{await Html.RenderPartialAsync("_CustomConfirm");}
}