@model IEnumerable<CoverType>
@{
	ViewData["Title"] = "CoverType";
}

<style type="text/css">
	/*td {
		padding-top: 15px !important;
	}

		td div {
			padding-top: 0px !important;
		}*/
</style>



<div class="container p-3">
	<div class="row pt-4 mb-3">
		<div class="col-md-6">
			<h2 class="text-primary">List of CoverTypes</h2>
		</div>
		<div class="col-md-6 text-right" style="margin-top: 15px;">
			<a class="btn btn-primary" asp-controller="CoverType" asp-action="Create">
				<i class="glyphicon-bishop bi-plus-circle"></i>&nbsp; NOVO
			</a>
		</div>

	</div>


	<table class="table table-bordered table-striped" style="width: 100%">
		<thead>
			<tr>
				<th width="50%">Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Count() > 0)
{
	foreach (var item in Model)
	{
					<tr>
						<td width="50%">@item.Name</td>
						<td>
							<div class="w-100 btn-group" role="group">
								<form method="post" class="d-inline-block" asp-controller="CoverType" asp-action="Delete" asp-route-id="@item.Id">
									<a type="button" class="btn btn-warning mx-2" asp-controller="CoverType" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="bi bi-pencil square"></i></a>&nbsp;
									<button class="btn btn-danger mx-2" type="button" onclick="confirmarExclusao(this);"><i class="bi bi-trash-fill"></i></button>
								</form>
								@*<a type="button" class="btn btn-danger mx-2" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" title="Excluir"><i class="bi bi-trash-fill"></i></a>*@
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td width="100%" colspan="3" class="text-center"><span>Sem dados</span></td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_CustomConfirm");}
}